<p>This is the partial for view 1.</p>
<div class="container">
    <h1>Twitter OAuth.io Example</h1>
    <div class="row">
        <div class="col-xs-12">
            <button ng-click="connectButton()" id="connectButton" type="button" class="btn btn-primary">Connect Twitter</button>
            <button ng-click="refreshTimeline()" id="getTimelineButton" type="button" class="btn btn-info" style="display:none;">Get My Timeline</button>
            <button ng-click="signOut()" id="signOut" type="button" class="btn btn-link" style="display:none;">Sign Out</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" id="results">
            <div class="row" ng-repeat="t in tweets">
                <div class="col-xs-2 col-sm-1">
                    <img ng-src="{{t.user.profile_image_url}}" class="img-circle">
                </div>
                <div class="col-xs-10 col-sm-11">
                    <small>{{t.user.name}}</small><br><a href="index.html#/tweet/{{t.id_str}}">{{t.text}}</a>
                </div>
            </div>
        </div>
    </div>
</div>